.App {
  text-align: center;
  
}
html { 
  background: url(./backgroundimage.jfif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
p{
  color: white;
  font-size: 3rem;
}
button{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
  cursor: pointer;
  font-size: 2rem;
  }
button:hover{
  color:rgb(160, 225, 235);
  background-color:#FFFFFF;
  }
  



